
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/angular.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>PrimeNumber</title>
</head>
<body ng-app="Prime">
    <div ng-controller="PrimeNumberController"> 
        <p>Prime Number</p>
        <p>{{PrimeNumber}}</p>
    </div>
</body>
</html>
